/* Scrollbar*/

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:window-inactive {
  background-color: rgba(200, 70, 48, 0.6);
}

::selection {
  background-color: rgba(200, 70, 48, 0.4);
}

#navbar{
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
}

/**Navbar*/
#navbar .container{
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
 align-items: center; /* used for vertically alignment */
  padding: 1rem 0;
}

.logo{
  width: 180px;
}

#navbar ul{
  display: flex;
  justify-content: flex-end;
}

#navbar ul li a{
  padding: .7rem;
  font-weight: bold;
}

#navbar ul li a:active{
  background-color: var(--primary-color);
  color: white;
}

#navbar ul li a:hover{
  background-color: var(--primary-color);
  color: var(--dark-color);
  
}

#navbar .social{
  justify-self: center;
}

#navbar .social a{padding: .7rem;}